<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/* Head takes 3 arguments that are fragments */-->
<head th:fragment="head(title, links, scripts)">
    
    <!--/*  Title will be replaced by their respective titles in the calling template. */-->
    <title th:replace="${title}">Task List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
    <!--/* Default links; can be replaced by the calling templates */-->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../static/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}" />
    
    <!--/* Per-page placeholder for additional links */-->
    <th:block th:replace="${links}" />
    
    <!--/* Default scripts; can be replaced by the calling templates */-->
    <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    
    <!--/* Per-page placeholder for additional scripts */-->
    <th:block th:replace="${scripts}" />
    
</head>
<body>
<!--/* Header fragment */-->
<div th:fragment="header(breadcrumb)">
    <ol class="breadcrumb container" th:replace="${breadcrumb}">
        <li><a href="#">Fake</a></li>
    </ol>
    <nav class="navbar navbar-inverse navbar-fixed-top" th:replace="fragments/header :: header">
        <!-- ============================================================================ -->
        <!-- This content is only used for static prototyping purposes (natural templates)-->
        <!-- and is therefore entirely optional, as this markup fragment will be replaced -->
        <!-- with "fragments/header.html" at runtime.                                     -->
        <!-- ============================================================================ -->
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Static header</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!--/* The value passed from calling template will be inserted in this element */-->
<div class="container" th:fragment="content(value)" th:insert="${value}">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional.
    <!-- ============================================================================ -->
    <h1>Static content for prototyping purposes only</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
        Phasellus et placerat elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
        Phasellus et placerat elit.
    </p>
</div>
<!--/* Footer fragment */-->
<footer th:fragment="footer" class="text-center">&copy; 2017 Default Footer</footer>
</body>
</html>